<h1>Stupid Coaching</h1>
<div class="form">
  <form action="answer" data-turbo="false">
    <input type="text"
      name="question"
      value="<%= params[:question] %>"
      placeholder="Ask me anything!">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
